<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="css/loader.css" type="text/css" />

<div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1;display: flex;align-items: baseline;">
  <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp;This section lists the published invoices for the selected client.
</div>


<div class="oj-panel oj-xl-margin-4x" style="margin: 10px;padding: 10px; display:none;" id="mainView">
  <div
class="oj-flex">
<div
  class="oj-md-5 oj-sm-12">
  <div class="">
    <div class="hint-div" style="margin: 10px;padding: 10px;">
        <div style="font-size:large;color:rgb(11, 111, 165)">
            <b>Client Name : <oj-bind-text value="[[clientNameCap]]"></oj-bind-text></b>
    </div>
</div>
</div>
</div>
</div>

<div class="oj-flex">
<div class="oj-md-5 oj-sm-12">
</div>
<div class="oj-md-6 oj-sm-12">
    <oj-buttonset-one id="setMultipleButtons" value="{{selectTab}}" aria-label="Choose only one format">
      <oj-bind-for-each data="[[formatValues]]">
        <template>
          <oj-option value="[[$current.data.id]]">
            <span>
              <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
            </span>
          </oj-option>
        </template>
      </oj-bind-for-each>
    </oj-buttonset-one>
  </div>
</div>

<oj-bind-if test="[[selectTab() === 'invoices']]">
<oj-list-view id="listviewtwo" aria-label="multicolumn with list item layout" data="[[dataProvider]]"
  class="oj-sm-padding-2x-vertical" selection-mode="multiple" selected="{{selectorSelectedItems}}">
  <template slot="itemTemplate" data-oj-as="item">
    <div
    class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x contentStyle">
    <li>
      <oj-list-item-layout>
      
        <div class="oj-typography-body-md">
          <div class="oj-flex">

            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Invoice Serial No"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                <div>
                  <oj-bind-text value="[[item.data.serial_number]]"></oj-bind-text>
                </div>
              </div>
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Invoice Create Date"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                <div>
                  <oj-bind-text value="[[item.data.invoice_date]]"></oj-bind-text>
                </div>
              </div>
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Payment Due Date"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <div>
                      <oj-bind-text value="[[item.data.payment_due_date]]"></oj-bind-text>
                  </div>
                </div>
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Invoice Updated At"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <div>
                      <oj-bind-text value="[[item.data.updated_at]]"></oj-bind-text>
                  </div>
                </div>
              </oj-list-item-layout>
            </div>


            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Grand Total"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <div>
                      <oj-bind-text value="[[item.data.grand_total]]"></oj-bind-text>
                  </div>
                </div>
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Payment Status"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <span :class="[[getBadgeClass(item.data.client_pay_status)]]">
                    <oj-bind-if test="[[item.data.client_pay_status === 'Pending']]">
                    <oj-bind-text value="Pending"></oj-bind-text>
                  </oj-bind-if>
                  <oj-bind-if test="[[item.data.client_pay_status === 'Paid']]">
                    <oj-bind-text value="Processing"></oj-bind-text>
                  </oj-bind-if>
                  </span>
                </div>
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                   <oj-bind-text value="Actions"></oj-bind-text>
                </div>
              <div slot="tertiary" class="oj-typography-body-lg">
                  <oj-button
                chroming="borderless"
                display="icons"
                class="oj-button-sm editBtn"
                on-oj-action="[[viewPublishInvoice]]">
                <span slot="startIcon"></span>
                Edit Publish Invoice
              </oj-button> 
              <oj-button
              chroming="borderless"
              display="icons"
              class="oj-button-sm deleteBtn"
              on-oj-action="[[ConfirmDeleteInvoice]]">
              <span slot="startIcon"></span>
              Delete
            </oj-button>   
              </div>
            </div>
              </oj-list-item-layout>
            </div>
        
  
        </div>
        
      
      </oj-list-item-layout>
    </li>
  </div>
  </template>
</oj-list-view>
</oj-bind-if>


<oj-bind-if test="[[selectTab() === 'receipt']]">
<div class="oj-panel oj-xl-margin-4x" style="margin-top: 10px;margin-bottom: 10px;padding: 10px;" id="amountSection">
    <div style="font-size:large;color:rgb(11, 111, 165);margin: 10px;padding: 10px;">
      Amount Details
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-3">
      Current Invoice Amount &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;:
      </div>
      <div class="col-md-2 col-sm-3 ">
        <oj-bind-text value="{{current_invoice_amount}}"></oj-bind-text>
      </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3">
    Due Amount  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;:
    </div>
    <div class="col-md-2 col-sm-3 ">
      <oj-bind-text value="{{due_amount}}"></oj-bind-text>
    </div>
</div>
  <div class="row">
    <div class="col-md-2 col-sm-3">
    Outstanding Amount &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;:
    </div>
    <div class="col-md-2 col-sm-3 ">
      <oj-bind-text value="{{outstanding_amount}}"></oj-bind-text>
    </div>
</div>

</div>

<div class="oj-panel oj-xl-margin-4x" style="margin-top: 10px;margin-bottom: 10px;padding: 10px;" id="billSection">
  <div style="font-size:large;color:rgb(11, 111, 165);margin: 10px;padding: 10px;">
    Receipt Details
  </div>

  <div class="row">
    <div class="col-md-2 col-sm-3">
    Previous Total Amount   &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;:
    </div>
    <div class="col-md-2 col-sm-3 ">
      <oj-bind-text value="{{previousTotal}}"></oj-bind-text>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-sm-3">
    Received Date &nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;:
    </div>
    <div class="col-md-2 col-sm-3 ">
      <oj-bind-text value="{{received_date}}"></oj-bind-text>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2 col-sm-3">
    Updated By &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;:
    </div>
    <div class="col-md-2 col-sm-3 ">
      <oj-bind-text value="{{updated_by}}"></oj-bind-text>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-sm-3">
    Paid Invoices &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; :
    </div>
    <div class="col-md-2 col-sm-3 ">
      <oj-bind-text value="{{paid_invoices}}"></oj-bind-text>
    </div>
  </div>
  

<div class="row">
  <div class="col-md-2 col-sm-3">
  Received Amount &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;:
  </div>
  <div class="col-md-2 col-sm-3 ">
    <oj-bind-text value="{{paid_amount}}"></oj-bind-text>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-sm-3">
  Balance Amount &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;:
  </div>
  <div class="col-md-2 col-sm-3 ">
    <oj-bind-text value="{{outstanding_amount}}"></oj-bind-text>
  </div>
</div>

<oj-bind-if test="[[value() === 'Yes']]">
<div class="row">
  <div class="col-md-2 col-sm-3">
  Advance Amount &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;:
  </div>
  <div class="col-md-2 col-sm-3 ">
    <oj-bind-text value="{{advance_amount}}"></oj-bind-text>
  </div>
</div>
</oj-bind-if>

<div id="invoice-status-btn">
  <div class="oj-flex oj-panel align-invoice-btn">
    <oj-button  id="downloadBtn" style="background-color:#5470ff;" class="oj-xl-margin-4x mb-3" on-oj-action="[[downloadReceipt]]"><span style="color:white" slot="startIcon" class="demo-icon-download"> Download Receipt</span>
    </oj-button>
      </div>
    </div>
    
</div>

<div id="receipt" style="display: none;">
  <div class="logo-print"> </div>
 <h2 style="color:#0654b2; text-transform:uppercase; font-weight:bold; text-align:center; margin-top:25px; text-decoration:underline; text-underline-offset:8px; font-family:Verdana, Geneva, sans-serif;">INVOICE</h2>
 <div style="margin: 0 auto; width: 90%;"></br></br></br>
 <div style="font-family:Verdana, Geneva, sans-serif;color:rgb(1, 13, 20)">
  <b><oj-bind-text value="[[clientNameCap]]"></oj-bind-text></b>
</div>
</br></br>
<div class="receipt">
  <div class="receipt-item">
      <div class="receipt-label">Previous Total Amount: <oj-bind-text value="{{previousTotal}}"></oj-bind-text></div>
  </div>
  <div class="receipt-item">
      <div class="receipt-label">Received Date: <oj-bind-text value="{{received_date}}"></oj-bind-text></div>
  </div>
  <div class="receipt-item">
      <div class="receipt-label">Updated By: <oj-bind-text value="{{updated_by}}"></oj-bind-text></div>
  </div>
  <div class="receipt-item">
      <div class="receipt-label">Paid Invoices: <oj-bind-text value="{{paid_invoices}}"></oj-bind-text></div>
  </div>
  <div class="receipt-item">
      <div class="receipt-label">Received Amount: <oj-bind-text value="{{paid_amount}}"></oj-bind-text></div>
  </div>
  <div class="receipt-item">
      <div class="receipt-label">Balance Amount: <oj-bind-text value="{{outstanding_amount}}"></oj-bind-text></div>
  </div>
  <oj-bind-if test="[[value() === 'Yes']]">
    <div class="receipt-item">
      <div class="receipt-label">Advance Amount: <oj-bind-text value="{{advance_amount}}"></oj-bind-text></div>
  </div>
    </oj-bind-if>
</div>

<hr></br></br>
<center><div>
  Jobs Plus UK Ltd, Company No. Not updated.</br>
  Address : Walnut Tree Close, Guildford, GU1 4TX.</br>
  Sales & Support – +44785213205</br>
  admin@jobsplusuk.com</br>
</div>
</center>
</div>


 </div>


<div id="receivedAmountSec" style="margin: 10px;padding: 10px;">
  <div class="oj-panel">
    <div style="font-size:large;color:rgb(11, 111, 165);margin: 10px;padding: 10px;">
     Amount Received
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-6">
          <oj-label-value label-edge="start" label-width="45%">
<!--               <oj-label slot="label" id="grpradiosetlabel"><b>Amount Type</b></oj-label>
 -->              <oj-radioset slot="value" id="grpradioSetId" labelled-by="radiosetlabel" value="{{groupDecision}}"
                  class="oj-choice-direction-row">
                  <oj-option id="groupInvoice" value="invoice">Invoice</oj-option>
                  <oj-option id="groupDue" value="due">Due Amount</oj-option>
              </oj-radioset>
          </oj-label-value>
      </div>
  </div>
  <oj-bind-if test="[[groupDecision() === 'invoice']]">
    <oj-validation-group id="receivedSec" role="group" valid="{{groupValid}}"
    aria-labelledby="grouplabelid" disbaled>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;padding: 10px;">
      <div class="col-md-3">
        <oj-select-many required id="select" label-hint="Select Invoices" label-edge="inside"
        options="[[InvoiceList]]" value="{{invoice}}">
      </oj-select-many>      
    </div>
      <div class="col-md-1"></div>
        </br></br>
      <div class="col-md-3">
        <oj-input-text required label-hint="Received Amount" value="{{received_amount}}">
        </oj-input-text></br></br>
    </div>
  </oj-validation-group>
    <div class="col-md-1"></div>
        </br></br>
      <div class="col-md-3">
      </br>
        <oj-button id="confirmBtn" chroming='callToAction'  on-oj-action="[[invoiceAmountReceived]]"> Update
        </oj-button>
    </div>
  </div>
</oj-bind-if>
<oj-bind-if test="[[groupDecision() === 'due']]">
  <oj-validation-group id="receivedSec" role="group" valid="{{groupValid}}"
  aria-labelledby="grouplabelid" disbaled>
  <div class="row" style="margin-top: 10px;margin-bottom: 10px;padding: 10px;">
    <div class="col-md-1"></div>
      </br></br>
    <div class="col-md-3">
      <oj-input-text required label-hint="Received Amount" value="{{received_amount}}">
      </oj-input-text></br></br>
  </div>
</oj-validation-group>
  <div class="col-md-1"></div>
      </br></br>
    <div class="col-md-3">
    </br>
      <oj-button id="confirmBtn" chroming='callToAction'  on-oj-action="[[invoiceAmountReceived]]"> Update
      </oj-button>
  </div>
</div>
</div>
</oj-bind-if>
</div>

</oj-bind-if>

</div>

</div>


<div class="centered-container" id="loaderView" style="display:none">
  <div class="loader"></div>
</div> 

<oj-dialog id="openConfirmDeleteInvoice" dialog-title="Confirm Delete Invoicet" modality="modeless"  style="display:none;width:350px;min-width:240px;max-width:450px;" cancel-behavior="[[CancelBehaviorOpt]]">
  <div slot="body">
    <oj-bind-text value='Do you want to delete this invoice?'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okSaveDraftButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[deleteInvoice]]">
      Yes
    </oj-button>
  </div>
</oj-dialog>

<oj-dialog id="openDeleteProgress" dialog-title="Please wait!Deleteing...." modality="modeless"
  style="display:none;width:350px;min-width:240px;max-width:450px;">
  <div slot="body">
    <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
    </oj-progress-bar>
  </div>
</oj-dialog>