<link rel="stylesheet" href="../../css/appDownload.css">

<ul>
    <li>
        <!-- <a href="../../css/images/bgimg.jpg" download>
            <img src="../../css/images/bgimg.jpg" alt="W3Schools" width="104" height="142">
          </a> -->
         <!--  <a href="../../css/app/JobsPlus.apk" type="application/vnd.android.package-archive" download>Download and install...</a>
          <a href="../../css/images/bgimg.jpg" download>Download Image...</a>
          <a href="/JobsPlus.apk" download>Download and install...</a> -->
      <div class="download android">
        <i class="fa fa fa-android fa-3x"></i>
        <a href="../../css/app/JobsPlus.apk" type="application/vnd.android.package-archive"  download > 
        <span style="color:white" class="df">Download from</span>
        <span style="color:white" class="dfn">Google Play</span></a>
      </div>
    </li>
    <li>
      <div class="download apple">
        <i class="fa fa fa-apple fa-3x"></i>
        <span class="df">Download from</span>
        <span class="dfn">App Store</span>
      </div>
  <!--   </li>
    <li>
      <div class="download windows">
        <i class="fa fa fa-windows fa-3x"></i>
        <span class="df">Download from</span>
        <span class="dfn">Windows Store</span>
      </div>
    </li> -->
  </ul>

  